.env
# ignore every __pycache__ folder
**/__pycache__/
# ignore all .pyc files
**/*.pyc
# ignore all .pyo files
**/*.pyo
# ignore all .pyd files
**/*.pyd
# ignore mypy cache
.mypy_cache/
# ignore pytest cache
.pytest_cache/